

/************************************************************************************
smaller than 800
*************************************************************************************/
@media screen and (max-width: 800px) and (min-width: 561px) {
	#social {width: auto; float: right; position: absolute; top: 20px; right: 2%;}
	body, html, .noscroll {overflow: visible;}
	#social ul {float: left; margin: 10px 30px 0 0}
	#social p {float: right; }
	#main-nav {display: none;}
	.tinynav {display: block;}
	nav {width: auto; text-align: right; float: right;}
	nav select {width: 300px; float: right;  background: white; font: 14px/18px 'Montserrat'; color: black; font-weight:  700; text-transform: uppercase; margin: -10px 0 0 0; padding: 3px 8px;}
	#sidenav {margin-top: 30px;}
	#circuit {display: none;}
	#mcontent img {width: 100%; height: auto;}

}

/************************************************************************************
smaller than 560
*************************************************************************************/
@media screen and (max-width: 560px) and (min-width: 481px) {
	#social {width: auto; float: right; position: absolute; top: 20px; right: 2%;}
	body, html, .noscroll {overflow: visible;}
	body {background: transparent;}
	#social ul {float: left; margin: 10px 30px 0 0}
	#social p {float: right; }
	#main-nav {display: none;}
	.tinynav {display: block;}
	nav {width: auto; text-align: right; float: right;}
	nav select {width: 240px; float: right;  background: white; font: 14px/18px 'Montserrat'; color: black; font-weight:  700; text-transform: uppercase; margin: -10px 0 0 0; padding: 3px 8px;}
	#sidenav {margin-top: 30px; width: 100%;}
	#sidenav img {position: relative;}
	.bg {display: none;}	
	#residential, #innovation, #lifestyle, #transport {width: 50%; margin: 0; float: left; position: relative;}
	#residential img, #innovation img {width: 80%; height: auto; margin:50px 2% 10px; float: left;}
	#lifestyle img, #transport img {width: 90%; height: auto; margin:0 2% 10px;  float: left;}
	#insync {width: 100%; float: left; }
	.insync {position: absolute; top: 0;left: 3%; z-index: 100;}
	img.insync {width: 80%; }
	#slider {width: 100%; float: right; position: relative; top: 0; z-index: 1;  margin-top: 90px;}
	#circuit {display: none;}
	#mcontent {width: 100%; float: left; margin-top: 20px;}
	#sideslider {width: 100%; float: right; position: relative; height: 250px;}
	#sideslider img {margin-top: -140px;}
	#mcontent {background: transparent;}
	#content_1, #content_2, #content_3, #content_4 {width: 100%; height: 100%; margin-bottom: 10px; }
}
/************************************************************************************
smaller than 480
*************************************************************************************/
@media screen and (max-width: 480px) and (min-width: 240px) {
	#social {width: auto; float: right; position: absolute; top: 20px; right: 2%;}
	body, html, .noscroll {overflow: visible;}
	body {background: transparent;}
	#logo {margin-top: -2.5em}
	#social ul {display: none;}
	#social p {float: right; }
	#main-nav {display: none;}
	.tinynav {display: block;}
	nav {width: 90%; text-align: right; float: left; position: absolute; bottom: 15px; left: 5%; text-align: center;}
	nav select {width: 96%; float: left;  background: white; font: 14px/18px 'Montserrat'; color: black; font-weight:  700; text-transform: uppercase;  padding: 3px 2%;}
	#sidenav {margin-top: 30px; width: 100%;}
	#sidenav img {position: relative;}
	.bg {display: none;}	
	#residential, #innovation, #lifestyle, #transport {width: 50%; margin: 0; float: left; position: relative;}
	#residential img, #innovation img {width: 80%; height: auto; margin:50px 2% 10px; float: left;}
	#lifestyle img, #transport img {width: 90%; height: auto; margin:0 2% 10px;  float: left;}
	#insync {width: 100%; float: left; }
	.insync {position: absolute; top: 0;left: 3%; z-index: 100;}
	img.insync {width: 80%; }
	#slider {width: 100%; float: right; position: relative; top: 0; z-index: 1;  margin-top: 90px;}
	#circuit {display: none;}
	#mcontent {width: 100%; float: left; margin-top: 20px;}
	#sideslider {width: 100%; float: right; position: relative; height: 250px;}
	#sideslider img {margin-top: -140px;}
	#mcontent {background: transparent;}
	#content_1, #content_2, #content_3, #content_4 {width: 100%; height: 100%; margin-bottom: 10px; }
}

