@charset "utf-8";
/* FONTS */
@font-face {
    font-family: 'cookieregular';
    src: url('fonts/cookie-regular-webfont.woff2') format('woff2'),
         url('fonts/cookie-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_slabregular';
    src: url('fonts/robotoslab-regular-webfont.woff2') format('woff2'),
         url('fonts/robotoslab-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_slablight';
    src: url('fonts/robotoslab-light-webfont.woff2') format('woff2'),
         url('fonts/robotoslab-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* RESET */
body,html,h1,h2,h3,h4,h5,h6,p,ul,li,header,footer,nav,div,article,section,aside,img,form{margin:0;padding:0;}
body,html{height:100%;max-height:100%;  }
p {font: 14px/20px 'robotoregular';}
header,footer,article,section,aside,div{position: relative;}

/* Global */
.pagewrapper {width: 90%; margin: 0 auto; max-width: 1440px;}
	.pagewrapper2 {max-width: 940px; width: 80%; margin: 0 auto}
header {width: 100%;  box-sizing: border-box; padding: 15px 0; float: left;background: rgba(38,38,38,0.9); height: 145px; position: absolute; top:0; z-index: 1000}
	header a {color: white; text-decoration: none;}
	.logo {width: 100%; float: left; text-align: center;}
		.logo img {text-align: center;}
	.secondarynav {width: auto;float: left; position: absolute; top: 10px; left: 0;}
		.secondarynav ul {list-style: none;}
			.secondarynav li {display: inline-block; font: 14px/20px 'robotomedium'; text-transform:uppercase;padding-right: 10px; margin-right: 5px; border-right: solid 1px #fff;}
			.secondarynav li:last-child {border-right: 0;}
			.secondarynav a:hover {color: #fa911c;}
	.foodtasting {width: auto; float: right; position: absolute; top: 0; right: 0;}
		.foodtasting a {padding: 10px 15px; float: left; border-radius: 5px; border: solid 1px white; font: 12px/18px 'robotomedium'; background: #fa911c}
		.foodtasting a:hover {background: white; border: solid 1px #fa911c; color: #fa911c;}
	.center {text-align: center; display: block; clear: both;}
footer {width: 100%; float: left; z-index: 108; background: white; }
	.footer {padding: 30px 0 50px;}
	.footer h4 {font: 18px/24px 'roboto_slabregular'; color: #4f4f4f; margin-bottom: 20px;}
	.footer a {color: #4f4f4f; text-decoration: none;}
	.footer a:hover {text-decoration: underline;}
	.footer p {font: 12px/18px 'robotoregular'; color: #4f4f4f}
		.sitemap, .contactus, .help {width: 32%; padding: 0 40px; box-sizing:  border-box; display: inline-block; vertical-align: top;}
		.sitemap ul {width: 50%; float: left; padding-right: 15px; list-style: none; box-sizing: border-box;}
		.sitemap li {margin-bottom: 3px; font: 12px/18px 'robotoregular'; color: #fa911c}
		.help a {padding: 15px 25px; color: white; text-transform: uppercase; font: 12px/18px 'robotoregular'; background: #fa911c; border: solid 1px #fa911c;}
		.help a:hover {text-decoration: none; color: #fa911c; background: white; border: solid 1px #fa911c;}
		.help p.center {margin-top: 30px;}
	.copyright {width: 100%; float: left; padding: 10px 0; text-align: center; font: 12px/18px 'roboto_slabregular'; color: #f9f9f9; background: #3b3b3b;}
.link {font: 12px/18px 'roboto_slabregular'; color: white; text-decoration: none; padding-bottom: 2px; border-bottom: solid 2px #fff;}
.fixed {position: fixed!important; background: rgba(38,38,38,0.9); height: 30px; padding: 15px 0; top:0; left:0; width: 100%;}
	.fixed .logo {position: absolute; text-align: left; padding-top: -5px;}
	.fixed .secondarynav {display: none;}
	.fixed .foodtasting {margin-top: -5px;}
	.fixed .logo img {text-align: left; height: 35px; width: auto;}
	.fixed nav {bottom: 27px;}

/* Navigation */
nav {width: 100%; float: left; position: relative; bottom: 0; }
	nav ul {list-style: none; text-align: center;}
		nav li {display: inline-block; margin: 30px 15px 0;}
			nav li.active a {color: #fa911c}
			nav li a {padding: 5px 0 25px ; float: left; font: 14px/20px 'roboto_slabregular'; text-transform: uppercase;}
			nav li a:hover {color: #fa911c;}
				nav li a ~ div {display: none; background: rgba(255,255,255,0.9); position: absolute;  width: 100%; left: 0; top: 70px; float: left;}
				nav li:hover a ~ div {display: block;}
					nav li a ~ div ul {list-style: none;}
						nav li a ~ div ul li {width: 15%; float: left; margin: 40px 0.8%; text-align: left;}
							nav li a ~ div img {width: 100%; height: auto; border: solid 1px #fff; box-sizing: border-box; }
							nav li a ~ div h3 {font: 12px/18px 'roboto_slabregular'; color: #4f4f4f; margin: 10px 0;}
							nav li a ~ div p {font: 10px/16px 'robotoregular'; color: #4f4f4f; display: block; clear: both; text-transform: none;}
								nav li a ~ div p a {font: 10px/16px 'robotoregular'; color: #4f4f4f; text-transform: none}
							nav li a ~ div ul li a {padding: 0;}
								nav li a ~ div ul li a:hover img {border: solid 1px #fa911c; box-sizing: border-box; padding: 0;}
								nav li a ~ div ul li a:hover h3 {color: #fa911c}

/* Home */
.welcomebg {background: url(../images/welcomebg.png) no-repeat center center fixed;}
.welcome {width: 100%; height: 100%; z-index:100;text-align: center; padding: 15% 0; color: white; box-sizing: border-box;  background-size: cover; float: left;}
	.welcome span {font: 196px/196px 'cookieregular';}
	.welcome h1 {font: 16px/22px 'roboto_slabregular'; font-weight: 400; margin: 20px 0; padding-bottom: 65px; background: url(../images/welcomedivide.png) no-repeat center bottom; }
	.welcome ul {margin-top: 30px; list-style: none;}
		.welcome li {display: inline-block;}
			.welcome li a {background: #fa911c; color: white; text-decoration: none; font: 12px/18px 'robotomedium'; padding: 10px 15px; border: solid 1px #fff; min-width: 130px; text-align: center; margin: 0 15px; float: left; text-transform: uppercase;}
			.welcome li a:hover {background: #fff; color: #fa911c; border: solid 1px #fa911c;}

.gft {width: 100%; float: left; z-index:101; background: url(../images/pattern1.jpg) top left fixed; padding: 40px 0;}
	.gft-container {max-width: 740px; margin: 0 auto; width: 45% }
	.gft article {padding: 25px; width: 100%; box-sizing: border-box; background: white;float: left; text-align: center;}
		.gft article div {border: solid 1px #ff6a17; padding: 20px; width: 100%; box-sizing: border-box; border-radius: 15px;}
			.gft h2 {font: 36px/52px 'roboto_slabregular'; margin: 10px 0 20px; color: #fa911c}
			.gft p {font: 16px/22px 'robotoregular'; color: #4f4f4f; margin-bottom: 18px;}
			.gft h3 {font: 22px/28px 'robotoregular'; color: #4f4f4f;}
				.margtop {margin-top: 35px;}
				.gft p a {background: #fa911c; font: 12px/18px 'robotomedium'; padding: 15px 20px; color: white; text-decoration:none; text-transform: uppercase; border: solid 1px #fff;}
				.gft p a:hover {background: #fff; color: #fa911c; border: solid 1px #fa911c;}

.about-us {width: 100%; float: left; background: white; z-index: 102; padding: 60px 0;}
	.about-us article {width: 60%; float: left; padding-right: 50px; box-sizing: border-box;}
		.about-us article img {float: left; margin: 35px 0; margin-right: 15px;}
		.about-us article h3 {font: 36px/42px 'roboto_slabregular'; color: #4f4f4f; margin-bottom: 15px;}
		.about-us article p {font: 14px/20px 'robotoregular';color: #4f4f4f; margin-bottom: 15px;}
		.about-us article p a {background: #fa911c; font: 12px/18px 'robotomedium'; padding: 15px 20px; color: white; text-decoration:none; text-transform: uppercase; border: solid 1px #fff;}
		.about-us article p a:hover {background: #fff; color: #fa911c; border: solid 1px #fa911c;}
	.about-us aside {width: 38%; float: right;}
		.border1 { border: solid 2px #fa911c; border-radius: 15px; padding: 40px 40px 15px; margin-bottom: 20px; box-sizing: border-box; float: left; width: 100%;}
		.clients ul {width: 100%; float: left; list-style: none;}
			.clients p {font: 16px/22px 'roboto_slabregular'; color: #4f4f4f; margin-bottom: 15px;}
			.clients h5 {font: 14px/20px 'roboto_slablight'; color: #4f4f4f; }
			.clients h5:last-child {margin-bottom: 30px;}

.venues {width: 100%; float: left; z-index:103; background: url(../images/venuesbg.jpg) center center fixed; background-size: cover;  padding: 60px 0 50px;}
	.venues h2 {font: 34px/40px 'roboto_slabregular'; color: white; text-align: center; margin-bottom: 45px;}
	.venuelist {list-style: none; margin: 0; padding: 0; }
		.venuelist li {width: 24%; display: inline-block; text-align: center;  box-sizing: border-box; padding: 0 15px;}
		.venuelist li:hover img {opacity: 0.8}
		.venuelist li:hover h3 {text-decoration: underline;}
		.venuelist li img {width: 100%; height: auto;}
		.venuelist a {text-decoration: none;}
		.venuelist a h3 {font: 24px/30px 'cookieregular'; text-decoration: none; color: #fcfbdc; margin: 20px 0 10px;}
		.venuelist a p {font: 14px/20px 'robotoregular'; color: white; text-decoration: none;}
	.search-venues {width: 100%; padding: 25px 20px 30px; box-sizing: border-box; background: #e98a3b; border-radius: 15px; float: left; margin: 30px 0 15px;}
		.search-venues ul {list-style: none;}
			.search-venues li {width: 31%; padding-right: 20px; box-sizing: border-box; display: inline-block;}
			.search-venues li:last-child{width:42px; position: absolute; right: 20px;}
			.search-venues select {width: 100%; height: 34px; padding: 5px 15px; border: 0; background: #ae5c14 url(../images/selectarrow.jpg) no-repeat right center; font:14px/20px 'robotoregular'; color: white; appearance:none; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;}
				.searchbtn {border-radius:5px;background: #fa911c url(../images/search.jpg) no-repeat center center; border: solid 1px #fff; width: 42px; height: 34px;}
				.searchbtn:hover {cursor: pointer;}


.design-inspiration {width: 100%; float: left; text-align: center; background: white; z-index: 104; padding: 60px 0;}
	.design-inspiration h3 {font: 36px/42px 'roboto_slabregular'; color: #4f4f4f; margin-bottom: 15px; text-align: center;}
	.design-inspiration p {font: 14px/20px 'robotoregular';color: #4f4f4f; margin-bottom: 15px; text-align: center;}
		.design-inspiration p a {background: #fa911c; font: 12px/18px 'robotomedium'; padding: 15px 20px; color: white; text-decoration:none; text-transform: uppercase; border: solid 1px #fff;}
		.design-inspiration p a:hover {background: #fff; color: #fa911c; border: solid 1px #fa911c;}
		.designs {width: 100%; float: left; margin: 30px 0 40px;}
		.designs img {width: 100%; height: auto;}
		.designs article {width: 45%; float: left;}
		.designs aside {width: 53%; float: right;}
			.designs aside ul {list-style: none;}
			.designs aside li:first-child {width: 100%; float: left; margin-bottom: 30px}
			.designs aside li {width: 48%; float: left;}
			.designs aside li:last-child {margin-left: 4%;}

.tools {width: 100%; float: left; text-align: center; background: white; z-index: 105; padding: 0px 0 60px;}
	.tools h3 {font: 36px/42px 'roboto_slabregular'; color: #4f4f4f; margin-bottom: 15px; text-align: center;}
	.tools ul {margin: 60px auto; width: 80%; list-style: none;}
		.tools li {width: 24.5%; display: inline-block;  padding: 0 1%; box-sizing: border-box; }
		.tools img {max-width: 100%; height: auto;}
	.tools h4 {font: 18px/24px 'robotomedium'; color: #4f4f4f; margin: 20px 0 10px;}
	.tools a {color: #4f4f4f; text-decoration: none;}
	.tools p {color: #4f4f4f; font: 12px/18px 'robotoregular'}

.custom-catering-package {width: 100%; float: left; background: white; z-index: 106; padding: 0;}
	.custom-catering-package article {width: 50%; height: 505px; float: left; box-sizing: border-box; padding-right: 30px; background: url(../images/customizebg.jpg) no-repeat left bottom;}
	.custom-catering-package article p {color: #4f4f4f; font: 18px/24px 'robotoregular'; margin-left: 100px}
	.custom-catering-package h3 {font: 36px/42px 'roboto_slabregular'; color: #4f4f4f; margin-bottom: 15px; margin-left: 100px}
	.custom-catering-package aside {width: 48%; float: right; padding-right: 50px; box-sizing: border-box;}
		.custom-catering-package aside ul {list-style: none;}
			.custom-catering-package aside li {width: 49%; padding-right: 30px; box-sizing: border-box; display: inline-block; float: left; margin-bottom: 18px; text-align: center; }
			.custom-catering-package aside li:first-child, .custom-catering-package aside li:nth-child(8), .custom-catering-package aside li:last-child {width: 98%;padding-right: 30px; box-sizing: border-box;}  
	.custom-catering-package input[type="text"], .custom-catering-package input[type="number"], .custom-catering-package input[type="email"], .custom-catering-package input[type="date"], .custom-catering-package select {width: 100%; padding: 5px 10px; border: solid 2px #fa911c; box-sizing: border-box; border-radius: 3px; height: 43px;color: #4f4f4f; font: 12px/18px 'robotoregular'}
		.custom-catering-package aside li:nth-child(8), .custom-catering-package aside li:last-child {margin: 25px 0;}
		.custom-catering-package select {color: #4f4f4f; font: 12px/18px 'robotoregular'}
		.custom-catering-package input::-webkit-input-placeholder, .custom-catering-package input::-moz-placeholder, .custom-catering-package input::-ms-input-placeholder, .custom-catering-package input::-moz-placeholder  {color: #4f4f4f; font: 12px/18px 'robotoregular';opacity: 1}
		.custom-catering-package input[type="date"] {color: #4f4f4f; font: 12px/18px 'robotoregular'}
		.custom-catering-package input[type="submit"] {background: #fa911c; padding: 15px 25px; font: 12px/18px 'robotoregular'; color: white; text-transform: uppercase; border: solid 1px white; width: 143px;}
			.custom-catering-package input[type="submit"]:hover {cursor: pointer; background: white; border: solid 1px #fa911c; color: #fa911c}

.featured-events {width: 100%; float: left; background: #fcfbdc; z-index: 107; padding: 30px 0; border-bottom: solid 3px #fa911c;}
	.featured-events h3 {font: 36px/42px 'roboto_slabregular'; color: #fa911c; margin-bottom: 45px; text-align: center;}
		.featured-events ul {list-style: none;}
		.featured-events li {width: 33%; display: inline-block; padding: 0 40px; margin-bottom: 30px; vertical-align: top; box-sizing: border-box;}
		.featured-events h4 {font: 24px/30px 'cookieregular'; text-align: center; color: #4f4f4f; margin-bottom: 15px; min-height: 65px; vertical-align: middle; }
		.featured-events p {margin: 0 30px; font: 12px/18px 'robotoregular'; color: #4f4f4f; margin-bottom: 3px;}
		.featured-events p a {float: left; padding-bottom: 1px; border-bottom: solid 2px #4f4f4f; text-decoration: none; color: #4f4f4f}
		.featured-events a {text-decoration: none;}
		.imgsquare {width: 235px; height: 235px; overflow: hidden; margin: 0 auto 30px;}
		.imgsquare img {width: 100%; height: auto; border-radius: 50%; box-sizing: border-box; border: solid 1px #fcfbdc; } 
		.featured-events li:hover img {border: solid 1px #fa911c; }
		.featured-events li:hover h4 {color: #fa911c}
	.filter-events {width: 100%; float: left; text-align: center; margin: 15px 0 25px;}
		.filter-events ul {list-style: none;}
			.filter-events li {width: auto!important; margin: 0 10px; display: inline-block; padding: 0; vertical-align: middle;}
			.filter-events li a {background: #fa911c; float: left; padding: 10px 0; border: solid 1px #fa911c; border-radius: 3px; text-decoration: none; color: white; width: 140px; font: 12px/18px 'roboto_slabregular'}
			.filter-events li a:hover {background: white; color: #fa911c; border: solid 1px #fa911c;}

.blog {width: 100%; float: left; background: #fcfbdc; z-index: 108; padding: 30px 0 50px;}
	.blog h3 {font: 36px/42px 'roboto_slabregular'; color: #fa911c; margin-bottom: 45px; text-align: center; background: url(../images/blogimg.jpg) no-repeat center top; padding-top: 82px; text-align: center; }
	.blog ul {list-style: none;}
		.blog li:hover img {opacity: .8}
		.blog li:hover h4 {color: #fa911c}
		.blog li {width: 24.5%; display: inline-block;  padding: 0 1%; box-sizing: border-box; }
		.blog img {width: 100%; height: auto; max-height: }
		.blog h4 {font: 24px/30px 'cookieregular'; text-align: left; color: #4f4f4f; margin-top: 20px; margin-bottom: 15px; vertical-align: middle; }
		.blog p {font: 12px/18px 'robotoregular'; color: #4f4f4f; margin-bottom: 10px;}
		.blog p a {float: left; padding-bottom: 1px; border-bottom: solid 2px #4f4f4f; text-decoration: none; color: #4f4f4f}
		.blog a {text-decoration: none;}

/* Packages */
.packagesbg {background: url(../images/packagesbg.jpg) no-repeat center center fixed; background-size: cover;}
	.packagesbg span {font: 150px/150px 'cookieregular';}
	.packagesbg span div {font: 195px/150px 'cookieregular';}
	.packagesbg p {font: 15px/21px 'roboto_slabregular'; }

.menu {width: 100%; float: left; padding: 50px 0; z-index: 101;}
	.menu h3 {font: 36px/42px 'roboto_slabregular'; color: #4f4f4f; margin-bottom: 15px; text-align: center;}
	.menu h4 {font: 21px/27px 'roboto_slabregular'; color: #4f4f4f; margin: 30px 15px 15px; text-align: center;}
	.menu p {text-align: center; margin: 30px 25%; font: 15px/21px 'robotoregular'; color: #4f4f4f;}
	.menu ul {list-style: none; width: 100%;}
	.menu li {width: 100%;}
	.menu li div {width: 25%; float: left; box-sizing: border-box; border-left: solid 1px #ccc;}
		.menu li div:first-child {border-left: 0;}
		.menu li div img {width: 100%; height: auto; z-index: 10;}
			.menu li aside {width: 60%; margin: -25px 20% 0; float: left; padding-left: 42px; padding-top: 8px; box-sizing: border-box; font: 18px/24px 'robotoregular'; color: #4f4f4f; background: white url(../images/menuicon.jpg) no-repeat left top; min-height: 42px; text-align: center;}
	.menu article {width: 100%; float: left; margin-bottom: 50px; position: relative; border: solid 1px #ccc; box-sizing: border-box;}
	.menu p a {background: #fa911c; font: 12px/18px 'robotomedium'; padding: 15px 40px; color: white; text-decoration:none; text-transform: uppercase; border: solid 1px #fff;}
		.menu p a:hover {background: #fff; color: #fa911c; border: solid 1px #fa911c;}

.service-inclusions {width: 100%; float: left; padding: 60px 0; background: url(../images/servicebg.jpg) no-repeat center center fixed; background-size:cover; z-index: 103; }
	.whitebg, .whitebg2 {width: 100%; float: left; padding: 20px; box-sizing: border-box; background: white}
		.whitebg article {width: 100%; float: left; box-sizing: border-box; padding: 30px 50px 50px; border: solid 3px #fa911c; border-radius: 15px; }
	.service-inclusions h3 {font: 48px/54px 'cookieregular'; color: #4f4f4f; margin-bottom: 30px; text-align: center;}
	.service-inclusions ul {list-style: none;}
	.service-inclusions li {width: 33%; display: inline-block; vertical-align: top; padding: 0 50px; box-sizing: border-box;}
	.service-inclusions h4 {font: 24px/30px 'roboto_slabregular'; color: #4f4f4f; margin-bottom: 35px;}
	.service-inclusions p {font: 15px/30px 'roboto_slabregular'; color: #4f4f4f}

.vlist {background: white!important; padding: 60px 0!important;}
	.vlist h2 {font: 36px/42px 'roboto_slabregular'; text-align: center; color: #4f4f4f; margin-bottom: 15px; text-align: center; }
	.vlist p {font: 15px/21px 'robotoregular'; color: #4f4f4f; text-align: center;}
	.vlist a h3, .vlist a p {color: #4f4f4f!important;}
	.vlist li {margin-bottom: 40px;}
	.vlist ul {margin-top: 30px; }
	.vlist a h3 {margin: 10px 0 0!important;}
	.vlist .search-venues li {margin-bottom: 0!important}
	.vlist .search-venues ul {margin-top: 0 }
	.vlist .link {color: #4f4f4f; border-bottom: solid 2px #4f4f4f;}

.connectwus {width: 100%; float: left; z-index:101; background: url(../images/pattern1.jpg) top left fixed; padding: 40px 0 30px; }
	.connectwus .whitebg article {padding-bottom: 20px;}
	.connectwus h3 {font: 36px/42px 'roboto_slabregular'; text-align: center; color: #4f4f4f; margin-bottom: 25px; text-align: center; }
	.connectwus ul {list-style: none; width: 80%; margin: 0 auto; padding-left: 20px; box-sizing: border-box;}
	.connectwus	li {width: 49%; padding-right: 30px; box-sizing: border-box; display: inline-block; float: left; margin-bottom: 18px; text-align: center; }
	.connectwus li:first-child, .connectwus li:nth-child(8), .connectwus li:last-child {width: 98%;padding-right: 30px; box-sizing: border-box;}  
	.connectwus input[type="text"], .connectwus input[type="number"], .connectwus input[type="email"], .connectwus input[type="date"], .connectwus select {width: 100%; padding: 5px 10px; border: solid 2px #fa911c; box-sizing: border-box; border-radius: 3px; height: 43px;color: #4f4f4f; font: 12px/18px 'robotoregular'}
		
		.connectwus select {color: #4f4f4f; font: 12px/18px 'robotoregular'}
		.connectwus input::-webkit-input-placeholder, .connectwus input::-moz-placeholder, .connectwus input::-ms-input-placeholder, .connectwus input::-moz-placeholder  {color: #4f4f4f; font: 12px/18px 'robotoregular';opacity: 1}
		.connectwus input[type="date"] {color: #4f4f4f; font: 12px/18px 'robotoregular'}
		.connectwus input[type="submit"] {background: #fa911c; padding: 15px 25px; font: 12px/18px 'robotoregular'; color: white; text-transform: uppercase; border: solid 1px white; width: 143px;}
			.connectwus input[type="submit"]:hover {cursor: pointer; background: white; border: solid 1px #fa911c; color: #fa911c}

/* Locations */
.locationsbg {background: url(../images/locationsbg.jpg) no-repeat center center fixed; background-size: cover;}
	.locationsbg h1 {font: 48px/54px 'roboto_slabregular'}
	.locationsbg p {font: 15px/21px 'roboto_slabregular'; }

.location-venues {width: 100%; float: left; z-index:102; background: url(../images/pattern1.jpg) top left fixed; padding: 0 0 30px; }
	.location-venues aside {width: 100%; float: left; padding: 20px; box-sizing: border-box; text-align: center; background: rgba(0,0,0,0.5); margin-bottom: 78px;}
	.location-venues aside h2 {font: 36px/42px 'robotoregular'; color: white;}
	.location-venues aside h2 a {background: #fa911c; padding: 5px 10px; border: solid 1px #fff; color: white; text-decoration: none; font: 21px/27px 'robotomedium'; margin: -15px 15px 0!important; }
	.location-venues aside h2 span {margin-top: -15px!important;}

.whitebg2 article {width: 100%; float: left; box-sizing: border-box; padding: 30px 50px 50px; border: solid 3px #ff4500; border-radius: 15px; }
	.location-venues section {width: 75%; float: left;}
	.location-venues aside {width: 23%; float: right;}

/* Responsive Slides */
.rslides {margin: 0 auto;}
.rslides_container {margin-bottom: 50px;position: relative;float: left;width: 100%;}
.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: white url(../images/arrowleft.png) no-repeat center center;
  margin-top: -45px;
  border-radius: 0 5px 5px 0;
  }

.centered-btns_nav:active {
  opacity: 1.0;
  }

.centered-btns_nav.next {
  left: auto;
  right: 0;
  border-radius: 5px  0 0 5px;
  background: white url(../images/arrowright.png) no-repeat center center;
  }
.transparent-btns_nav {z-index: 3;position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }
.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("themes.gif") no-repeat left 50%;
  width: 38px;
  }

.large-btns_nav:active {
  opacity: 1.0;
  }

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }
.transparent-btns_nav.next {
  left: auto;
  right: 0;
  }
.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus{
  outline: none;
  }
.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs{
  margin-top: 10px;
  text-align: center;
  }
.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li{
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }
.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a{
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  
  background: #4f4f4f;
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }
.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a{
  background: #fa911c;
  
  }
